/* 
Base colors
#dc9827 - yellow
#353d7a - blue
#ac2203 - red
#2f2f2f - dark gray
*/

/*----------------------------------------
Main Styles
----------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.65;
	color: #2f2f2f;
}

body.custom-background {
	background-color: #f7e9d2;
}

h1,
h2,
h2.entry-title,
h2.entry-title a,
h3,
h4,
h5 {
	color: #ac2203;
}

a {
	color: #52af6a;
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(82, 175, 106, .7);
}

/*----------------------------------------
Entry Styles
----------------------------------------*/
.sticky-post {
	background-color: #efa829;
	color: #353d7a;
	padding: 0.5em 1.25em;
	font-size: 1.25em;
}

.hentry,
.page-header,
.page-content {
	box-shadow: none;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a {
	border-bottom: 1px solid #52af6a;
}

.entry-footer {
	background-color: #52af6a;
	color: #fff;
}

.entry-footer a {
	color: #fff;
}

.entry-footer a:hover,
.entry-footer a:focus {
	color: #fff;
	border-bottom: 1px solid #fff;
}

/*----------------------------------------
Input Styles
----------------------------------------*/
input,
textarea {
	border: 0;
}

button, input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #3e4692;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background-color: rgba(62, 70, 146, 0.7);
	outline: 0;
}

/*----------------------------------------
Sidebar/Site Header Styles
----------------------------------------*/
.custom-logo {
	margin: 0 auto;
	display: block;
}

.sidebar {
	background-color: #efa82a;
}

h1.site-title {
	text-align: center;
	text-transform: uppercase;
}

.site-title a:hover,
.site-title a:focus,
.secondary a:hover,
.secondary a:focus {
	color: #2d336d;
}

.site-description {
	text-align: center;
}

h1.site-title a,
.site-description {
	color: #3e4692;
	opacity: 1;
}

.site-header {
	background-color: #efa82a;
	border-bottom: 0;
	padding: 5% 5% 10%;
}

.widget-title {
	color: #3e4692;
}

.main-navigation ul,
.main-navigation li,
.secondary-toggle,
.widget input,
.widget textarea,
.widget table,
.widget th,
.widget td,
.widget pre,
.widget li,
.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children,
.widget abbr[title] {
	border: 0;
}
.sidebar .widget,
.sidebar .widget blockquote,
.sidebar .widget .wp-caption-text,
.sidebar .widget .gallery-caption {
	color: #f7e9d2;
}

.main-navigation a {
	font-weight: 700;
}

.secondary a {
	color: #f7ead2;
}

.secondary-toggle:hover,
.secondary-toggle:focus {
	border-color: transparent;
	border-color: transparent;
	background: #3e4692;
}

.secondary-toggle.toggled-on:before {
	color: #f7ead2;
}

.secondary-toggle[aria-expanded='false'] {
	background-color: transparent;;
}

@media screen and (min-width: 38.75em) {
	.secondary {
		box-shadow: none;
		margin: 3.6923% 0 0;
		padding: 0;
	}
}

@media screen and (min-width: 46.25em) {
	.site-branding {
		padding-right: 0;
	}

	.custom-logo-link:after {
		max-height: 105px;
	}
}

@media screen and (min-width: 55em) {
	.site-branding {
		padding-right: 0;
	}

	.custom-logo-link:after {
		max-height: 104px;
	}
}

@media screen and (min-width: 59.6875em) {
	body:before {
		background-color: #efa829;
	}
	.site-header {
		margin: 1%;
	}

	.main-navigation {
		margin: 0 20% 5%;
	}

	.custom-logo-link:after {
		max-height: none;
	}
}

@media screen and (max-width: 58.6875em) {
	.site-header {
		padding: 1.6923% 7.6923%;
	}
	.secondary {
		background-color: #efa82a;
	}
	.sidebar .widget-area aside {
		width: 49.25%;
		display: inline-block;
		float: left;
		margin-right: 1.5%;
	}

	.sidebar .widget-area {
		display: inline-block;
	}

	.sidebar .widget-area aside:nth-child(2n) {
		margin-right: 0;
	}

	.sidebar .widget-area aside#search-2 {
		width: 100%;
		margin-right: 0;
	}
}

.site-info a:after {
	content: "\f324";
	font-family: dashicons;
	margin-left: 0.5em;
	font-size: 1em;
}

.site-footer {
	border: 0;
	box-shadow: none;
	background-color: #3e4692;
	color: #fff;
}

.site-footer a {
	color: #fff;
}


